.contact_section {
    padding: 150px 0 20px 0;
    border-top-left-radius: 100px;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(96, 112, 255, 0.85), rgba(96, 112, 255, 0.85)), url(./img/background2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 5px bottom 10%;
  }