.container {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 718px;
  padding: 20px;
  background: #FFFFFF;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.introduction {
  background-image: url("header-shapes mobile.png");
  display: flex;
  flex-direction: column;
  height: 604px;
}

.introduction a {
  width: 117px;
  height: 24px;
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7F8CFF;
}

.header {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.intro {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.profiles {
  padding-left: 0%;
  list-style: none;
  display: flex;
  gap: 20px;
}

.button {
  border: none;
  width: 93px;
  height: 48px;
  border-radius: 15px;
  background: #FFFFFF;
}

.button:hover {
  color: #FFFFFF;
  background: #6070FF;
}

.button:active {
  color: #FFFFFF;
  background: #2230D2;
}
